# Mongo credentials & DB
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=example

MONGO_APP_USER=appuser
MONGO_APP_PASSWORD=apppass
MONGO_APP_DB=mydb
MONGO_APP_COLLECTION=records
MONGO_HOST_PORT=27017
MONGO_CONTAINER_PORT=27017

# Importer-specific
PARQUET_FILE=data/beacons_merged_latest.parquet

# App
APP_HOST=0.0.0.0
CONTAINER_PORT=8000
HOST_PORT=8000