### App
APP_HOST=0.0.0.0
CONTAINER_PORT=8000
HOST_PORT=8000

## Empty locally; e.g. use /api when exposed below /api via reverse proxy
APP_ROOT_PATH=

## Required for setups using BunkerWeb (setups 3 & 4)
DNS_ALIAS=<DNS_ALIAS>

# -----------------------------------------------------------------------------

### Importer
PARQUET_FILE=data/beacons_merged_latest.parquet

# -----------------------------------------------------------------------------

### Debugging
ENABLE_DEBUG_ENDPOINTS=false

# -----------------------------------------------------------------------------

### Compose setup

## Base only (setup 1)
COMPOSE_FILE=compose.yaml

## Local MongoDB (setup 2)
# COMPOSE_FILE=compose.yaml:compose.mongodb.yaml

## BunkerWeb (setup 3)
# COMPOSE_FILE=compose.yaml:compose.bunkerweb.yaml

## Local MongoDB + BunkerWeb (setup 4)
# COMPOSE_FILE=compose.yaml:compose.mongodb.yaml:compose.bunkerweb.yaml

# -----------------------------------------------------------------------------

### MongoDB

## Mongo - local Docker setup (setups 2 & 4)
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=example

MONGO_APP_USER=appuser
MONGO_APP_PASSWORD=apppass
MONGO_APP_DB=mydb
MONGO_APP_COLLECTION=records
MONGO_HOST_PORT=27017
MONGO_CONTAINER_PORT=27017

## Mongo - existing server DB (setups 1 & 3)
MONGODB_URI=mongodb://<ADMIN_USER>:<ADMIN_PASSWORD>@host.docker.internal:27017/<DB_NAME>?authSource=admin
MONGODB_DB=<DB_NAME>
MONGODB_COLLECTION=records