mongodb_uri=mongodb://appuser:apppass@localhost:27017/mydb?authSource=mydb
mongodb_db=mydb
mongodb_collection=records

# importer defaults (optional)
MONGODB_URI=mongodb://appuser:apppass@localhost:27017/mydb?authSource=mydb
MONGODB_DB=mydb
MONGODB_COLLECTION=records
PARQUET_FILE=data/beacons_merged_latest.parquet

# docker-compose defaults
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=example
MONGO_APP_DB=mydb
MONGO_APP_USER=appuser
MONGO_APP_PASSWORD=apppass
MONGO_APP_COLLECTION=records
